body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #283136;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.nav  {
  list-style: none;
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: 500;
  line-height: 30px;
}

.nav a {
  color: #283136;
}

.nav a:hover {
  color: #fb565a;
}

.nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  width: 160;
  height: 65;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.cart::before {
  content: url('../img/cart-icon.svg');
  display: inline-block;
  width: 15px;
  height: 15px;
  padding-right: 26px;
  opacity: 0.3;
}
.catalog-header {
  font-size: 55px;
  text-align: center;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  padding-top: 82px;
  padding-bottom: 116px;
}
.slider {
  background-color: #eeeeee;
}

.slider-list {
  list-style: none;
}

.slider-list li:nth-child(1) {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 698px;
  height: 413px;
}

.slider-list li:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 698px;
  height: 413px;
}

.slider-list li:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 698px;
  height: 413px;
}

.text-slider-l {
  font-size: 55px;
  text-align: left;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 28px;
}

.text-slider-s {
  text-align: left;
  margin-bottom: 42px;
}

.button-large {
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 240px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #ffffff;
  border-radius: 3px;
}

.button-middle {
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 160px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #ffffff;
  border-radius: 3px;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-contacts {
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 219px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #ffffff;
  border: 0px solid transparent;
  border-radius: 3px;
  background-color: #fb565a;
}


.button-price {
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 200px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #ffffff;
  border-radius: 3px;
}


.filter-label {
  line-height: 20px;
}

input[type="checkbox"] {
  margin-right: 9px;
}

input[type="radio"] {
  margin-right: 11px;
}

.template-info a.button-price.button-red {
color: #ffffff;
display: inline-block;
}

.dots {

}

.price-filter {
  letter-spacing: 0.18px;
}

.sort-filter {
  line-height: 18px;
}

.sort-variant {
  list-style: none;
}

.sort-variant li {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  display: inline;
}

.sort-variant li a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-variant li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-variant li a:active {
  color: rgba(0, 0, 0);
}

li.up a::before {
  content: url("../img/icon-up-dir.svg");
  width: 11px;
  height: 10px;
  opacity: 0.7;
}

li.down a::before {
  content: url("../img/icon-down-dir.svg");
  width: 10px;
  height: 11px;
  opacity: 0.7;
}

li.up a:hover {
  opacity: 0.8;
}

li.up a:active {
  opacity: 1;
}

li.down a:hover {
  opacity: 0.8;
}

li.down a:active {
  opacity: 1;
}

.filter-name {
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantage-list {
  list-style: none;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;

}

.catalog-grid {
  list-style: none;
}

.template-info {
  text-align: center;
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  padding-top: 17px;
}
.template-info h3 a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

h3.advantage-header {
  font-size: 24px;
  color: #000000;
  text-align: left;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.we {
  padding-bottom: 77px;
  border-bottom: 2px solid #eeeeee;
}

.about-us {
  padding-top: 80px;
}

.we-header {
  font-size: 45px;
  text-align: left;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.orders-dev {
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}

.efficiency {
  padding-top: 40px;
  background-image: url("../img/nerds-picture.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto;
}

.efficiency-header {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.efficiency-number {
  font-size: 45px;
  text-align: left;
  font-weight: 700;
  line-height: 10px;
  color: #000000;
}

.efficiency-number td {
padding-bottom: 27px;
}

.efficiency-value {
  line-height: 18px;
}

.brands {
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid #eeeeee;
}

.brand-items {
  list-style: none;
  display: block;
}

.map {
  padding-bottom: 69px;
}
.contacts {
  width: 319px;
  height: 308px;
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
}

.contacts-header {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 54px;
}

.address {
color: #666666;
}

.writeus-form {
  display: none;
}

.social-items {
  list-style: none;
}

.social-items li {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}

li.vk a::before {
  content: url("../img/vk-icon.svg");
  width: 26px;
  height: 15px;
  position: absolute;
  padding-left: 26px;
  padding-top: 32px;
}

li.facebook a::before {
  content: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
  position: absolute;
  padding-left: 32px;
  padding-top: 28px;
}

li.instagram a::before {
  content: url("../img/insta-icon.svg");
  width: 26px;
  height: 15px;
  position: absolute;
  padding-left: 29px;
  padding-top: 29px;
}

.footer-text-l {
  font-size: 36px;
  text-align: left;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-text-sm {
  line-height: 22px;
  color: #444444;
}
