body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #283136;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
  width: 100%;
  min-height: 114px;
  display: flex;
  flex-direction: column;
}

.main-menu {
  display: flex;
}

.main-menu ul {
  display: flex;
  padding-left: 0;
  width: 440px;
  justify-content: space-between;
}

.main-menu ul li{

}

.main-menu ul li:last-child{
  margin-right: 0;
}

.main-header .nav  {
  list-style: none;
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 49px;
  margin-bottom: 20px;
}


.nav a {
  color: #283136;
}

.nav a:hover {
  color: #fb565a;
}

.nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo-wrapper {
  display: flex;
}

.logo {
  width: 160px;
  height: 65px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.cart {
  display: flex;
  margin-bottom: 16px;
}

.cart::before {
  content: url('../img/cart-icon.svg');
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 26px;
  opacity: 0.3;
}
.catalog-header {
  background-color: #eeeeee;
}

.catalog-header h1 {
  font-size: 55px;
  text-align: center;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.catalog-container {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.catalog-wrapper {
  display: flex;
  width: auto;
}

.catalog-item {
  display: flex;
  width: 360px;
  height: 616px;
  margin-right: 40px;
  margin-bottom: 33px;
  align-items: flex-end;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 0;

}

.template-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 760px;
}


.slider {
  background-color: #eeeeee;
  width: auto;
}

.slider-list p {
  margin: 0;
  padding: 0;
}

p.text-slider-l {
  font-size: 55px;
  text-align: left;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 28px;
  padding-top: 67px;
}

p.text-slider-s {
  text-align: left;
  margin-bottom: 42px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1160px;
  margin: 0 auto;
}

.slider-list li:nth-child(1) {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 413px;
}

.slider-list li:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 698px;
  height: 413px;
  display: none;
}

.slider-list li:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 698px;
  height: 413px;
  display: none;
}


.button-large {
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  height: 50px;
  width: 240px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #ffffff;
  border-radius: 3px;
}

.button-middle {
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 160px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #ffffff;
  border-radius: 3px;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-contacts {
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 219px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #ffffff;
  border: 0px solid transparent;
  border-radius: 3px;
  background-color: #fb565a;
  cursor: pointer;
}


.button-price {
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 200px;
  padding-top: 19px;
  padding-bottom: 18px;
  color: #ffffff;
  border-radius: 3px;
}


.filter-label {
  line-height: 20px;
}

input[type="checkbox"] {
  margin-right: 9px;
}

input[type="radio"] {
  margin-right: 11px;
}

.template-info a.button-price.button-red {
color: #ffffff;
display: inline-block;
}

.dots {

}

.price-filter {
  letter-spacing: 0.18px;
}

.sort-filter {
  line-height: 18px;
}

.sort-variant {
  list-style: none;
}

.sort-variant li {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  display: inline;
}

.sort-variant li a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-variant li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-variant li a:active {
  color: rgba(0, 0, 0);
}

li.up a::before {
  content: url("../img/icon-up-dir.svg");
  width: 11px;
  height: 10px;
  opacity: 0.7;
}

li.down a::before {
  content: url("../img/icon-down-dir.svg");
  width: 10px;
  height: 11px;
  opacity: 0.7;
}

li.up a:hover {
  opacity: 0.8;
}

li.up a:active {
  opacity: 1;
}

li.down a:hover {
  opacity: 0.8;
}

li.down a:active {
  opacity: 1;
}

.filter-name {
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantage {
width: 1160px;
border-bottom: 2px solid #eeeeee;
margin: 0 auto;
}

.advantage-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 80px 0px;
  padding: 0;

}

.advantage-list li {
  margin-right: 100px;
}

.advantage-list li:last-child {
  margin-right: 58px;
}

.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.sort-row {
  display: flex;
  justify-content: space-between;
}

.pages {
  display: flex;
  list-style: none;
  width: auto;
  justify-content:flex-start;
}

.pages li {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.template-info {
  text-align: center;
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  padding-top: 17px;
  display: none;
}

.template-info h3 a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

h3.advantage-header {
  font-size: 24px;
  color: #000000;
  text-align: left;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

h3.advantage-header a {
  color: #000000;
}

ul.brand-items img {
opacity: 0.5;
}

ul.brand-items img:hover {
opacity: 1;
}

ul.brand-items img:active {
opacity: 0.2;
}

.we {
  padding-bottom: 77px;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.about-us {
  padding-top: 80px;
  width: 780px;
}

.we-header {
  font-size: 45px;
  text-align: left;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

.orders-dev {
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 47px;

}

.about-us .about-us-content {
  margin: 0;
  margin-top: 35px;
}

.efficiency {
  width: 380px;
  background-image: url("../img/nerds-picture.jpg");
  background-position-y: 40px;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
  padding-top: 289px;
}

.efficiency-table {
  margin-top: 49px;
}

.efficiency-header {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.efficiency-number {
  font-size: 45px;
  text-align: left;
  font-weight: 700;
  line-height: 10px;
  color: #000000;
}

.efficiency-number td {
padding-bottom: 27px;
padding-right: 15px;
}

.efficiency-number td:last-child {
padding-right: 0;
}

.efficiency-value {
  line-height: 18px;
}

.brands {
  width: 1160px;
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid #eeeeee;
  margin: 0 auto;
}

.brand-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.brand-items li::after {
  content: "";
  width: 2px;
  height: 52px;
  align-items: center;
  background-color: #eeeeee;
}

.map {
  width: 1440px;
  height: 416px;
  margin: 0 auto;
  margin-top: 80px;
}

.map-wrapper {
  z-index: 1;
  position: absolute;
}

.marker-wrapper {
  position: relative;
  z-index: 1;
  top: 87px;
  left: 820px;
}

.contacts {
  width: 319px;
  height: 308px;
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
}

.contacts-wrapper {
  position: relative;
  z-index: 3;
  top: -160px;
  left: 140px;
}

.contacts-header {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 54px;
}

.address {
color: #666666;
}

.writeus-form {
  display: none;
}

.social-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-items li {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  margin-left: 0;
}

li.vk a::before {
  content: url("../img/vk-icon.svg");
  width: 26px;
  height: 15px;
  position: absolute;
  left: 26px;
  top: 32px;
}

li.facebook a::before {
  content: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
  position: absolute;
  left: 32px;
  top: 28px;
}

li.instagram a::before {
  content: url("../img/insta-icon.svg");
  width: 26px;
  height: 15px;
  position: absolute;
  left: 29px;
  top: 29px;
}

.social-items  {
  margin: 0;
}

.socials-network {
  margin: 0;
  width: 398px;
}

.social-items li a {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
}

.footer-bottom {
  display: flex;
  width: auto;
}

.footer-container {
  display: flex;
  width: 1160px;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  min-height: 217px;
}

.footer-text-l {
  font-size: 36px;
  text-align: left;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.footer-text-sm {
  line-height: 22px;
  color: #444444;
}
